//- utilized https://html-to-pug.com/ AND "layout.html" to help with this pug file's writing
//- code reference: course material Breaking Your Project’s Templates into Partials
extends layout

block content
  h1=title
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books 
        tr 
          td 
            a(href = `/books/${book.id}`) #{book.title}

          td=book.author 
          td=book.genre 
          td=book.year
